/*HEADER*/

.logo {
    width: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #222324;
}

.navbar {
    background-color: #222324;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-toggler {
    border: none;
    background-color: #222324;
    position: absolute;
    left: 60px;
    padding: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-color: #222324;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas {
    background-color: #1d1f21;
    color: white;
}

.offcanvas-header {
    border-bottom: 1px solid #444;
}

.offcanvas-title {
    color: white;
}

.offcanvas-body {
    padding: 1rem;
}

.offcanvas .nav-link {
    color: white;
}

.offcanvas .nav-link:hover {
    color: #ccc;
}

.btn-close {
    filter: invert(1);
}

.nav-link {
    font-size: 20px;
}

#usu{
    margin-left: 10px;
}

.usuario{
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 10px;
}

i {
    padding-left: 10px;
    padding-right: 5px;
}

/*main*/

body {
    padding: 0;
    margin: 0;
    background-color: #262E33;
}

.container {
    background-color: #1d1f21;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1400px;
    max-width: 100%;
    text-align: center;
    color: white;
}

.card {
    margin-top: 20px;
    background-color: #1d1f21;
    color: white;
    border: none;
}

.card-body {
    padding: 40px;
    text-align: left;
}

h1 {
    color: #f9f9f9;
}

#userInfo {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #1d1f21;
    text-align: left;
    font-size: 40px;
    font-family: "Roboto Mono", monospace;
}

#userInfo h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#userInfo p {
    font-size: 18px;
    margin: 10px 0;
}

#editButton, #deleteButton, #saveButton {
    background-color: #17A1FA; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

/*FOOTER*/

footer {
    background-color: #222324;
    padding: 20px 0;
}

footer hr {
    border: none;
    height: 5px;
    background-color: white;
    width: 50%;
    margin: 100px auto 20px;
    display: block;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; 
}

footer .icon {
    width: 20%;
    padding: 20px;
}

footer .gits {
    display: flex;
    flex-direction: column;
    align-items: right; 
    margin-right: 560px;
    margin-top: 20px;
}

footer .gits a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: .4rem;
}

footer .gits a i {
    margin-right: 10px;
}
