
/*HEADER*/

.logo {
    width: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #222324;
}

.navbar {
    background-color: #222324;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-toggler {
    border: none;
    background-color: #222324;
    position: absolute;
    left: 60px;
    padding: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-color: #222324;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas {
    background-color: #1d1f21;
    color: white;
}

.offcanvas-header {
    border-bottom: 1px solid #444;
}

.offcanvas-title {
    color: white;
}

.offcanvas-body {
    padding: 1rem;
}

.offcanvas .nav-link {
    color: white;
}

.offcanvas .nav-link:hover {
    color: #ccc;
}

.btn-close {
    filter: invert(1);
}

.nav-link {
    font-size: 20px;
}

i {
    padding-left: 10px;
    padding-right: 5px;
}

/*main*/


body {
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 14px;
    letter-spacing: .2rem;
    background-color: #262E33;
}

h1, h3 {
    text-align: center;
    margin-bottom: 20px;
}
.container {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
}

.column {
    margin: 0 40px;
    position: relative;
    width: 45%;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    background-color: var(--button-bg,#222324);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.task-list li.done {
    background-color: var(--accent-color-green, #28a745);
}

.task-list li .task-name {
    flex-grow: 1;
}

.task-list li button {
    background-color: var(--button-bg, #ffffff);
    color: var(--button-text, rgb(39, 39, 39));
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.task-list li button:hover {
    background-color: var(--button-hover-bg, rgb(39, 39, 39));
}

.task-list li button {
    color: black; /* Definindo a cor do texto como preto */
}
/*MODAL*/

.modal-header {
    background-color: #222324;
    color: white;
}

.modal-footer {
    background-color: #f1f1f1;
}

.modal-content {
    border-radius: 10px;
}
.modal-body p {
    color: black; /* Define a cor do texto como preto */
}
/*FOOTER*/


footer {
    background-color: #222324;
    padding: 20px 0;
}

footer hr {
    border: none;
    height: 5px;
    background-color: white;
    width: 50%;
    margin: 100px auto 20px;
    display: block;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; 
}

footer .icon {
    width: 20%;
    padding: 20px;
}

footer .gits {
    display: flex;
    flex-direction: column;
    align-items: right; 
    margin-right: 460px;
    margin-top: 20px;
}

footer .gits a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: .4rem;
}

footer .gits a i {
    margin-right: 10px;
}
