body {
    padding: 0;
    margin: 0;
    background-color: #262E33;
}

/*HEADER*/

.logo {
    width: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #222324;
}

.navbar {
    background-color: #222324;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-toggler {
    border: none;
    background-color: #222324;
    position: absolute;
    left: 60px;
    padding: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-color: #222324;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas {
    background-color: #1d1f21;
    color: white;
}

.offcanvas-header {
    border-bottom: 1px solid #444;
}

.offcanvas-title {
    color: white;
}

.offcanvas-body {
    padding: 1rem;
}

.offcanvas .nav-link {
    color: white;
}

.offcanvas .nav-link:hover {
    color: #ccc;
}

.btn-close {
    filter: invert(1);
}

.nav-link {
    font-size: 20px;
}

i {
    padding-left: 10px;
    padding-right: 5px;
}

/* MAIN */


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222324;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.playlist-form input[type="text"] {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
}

.playlist-form button {
    background-color: #17A1FA;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.playlist-form button:hover {
    background-color: #0F79BD;
}

main hr{
    border: none;
    height: 5px;
    background-color: #FFF;
    stroke: #FFF;
    width: 50%;
    margin: 30px auto 20px;
    display: block;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 28px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 60px;
    margin-bottom: 20px;
}
#icon{
    margin-right: 40px;
}
main h1{
    color:white;
    font-size: 30px;
}


/* Playlists */
.playlist {
    background-color: #222324;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Ajuste para organizar conteúdo verticalmente */
    align-items: flex-start; /* Ajuste para alinhar itens à esquerda */
}

.playlist h5,
.playlist p {
    margin: 5px 0; /* Margens menores para o título e descrição */
}

.playlist-buttons {
    display: flex; /* Utiliza flexbox para os botões */
    gap: 6px; /* Espaçamento entre os botões */
    margin-top: 10px;
}

.playlist-buttons button {
    background-color: #0F79BD;
    color: #FFF;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.playlist-buttons button:hover {
    background-color: #0A5A8A;
}



/*footer*/

footer {
    background-color: #222324;
    padding: 20px 0;
}

footer hr {
    border: none;
    height: 5px;
    background-color: white;
    width: 50%;
    margin: 100px auto 20px;
    display: block;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; 
}

footer .icon {
    width: 20%;
    padding: 20px;
}

footer .gits {
    display: flex;
    flex-direction: column;
    align-items: right; 
    margin-right: 580px;
    margin-top: 20px;
}

footer .gits a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: .4rem;
}

footer .gits a i {
    margin-right: 10px;
}